body{
	background-color: #f0ffff;
	font-family: Verdana;
	font-size:18px;
}
header{
	text-align: right;
	font-weight: bold;
	font-size: 20px;
}
nav a{
	color:#20b2aa;
}
nav a:visited{
	color: #2f4f4f;
}
a{
	color:#3cb371;
	font-weight: bold;
}
a:visited{
	color: #2f4f4f;
}
#top_container{
	margin: 0px 0px 20px 60px;
}
#info_container{
	font-size: 20px;
}
#Start{
	font-size: 80px;
	font-weight: bold;
	color:#66cdaa;
}
#web_list{
	margin: 20px 0px 30px 60px;
	color:ff69b4;
}
