body{
	font-family: Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #f0f8ff;
}
header h1{
	background: #008b8b;
	padding: 20px 25px;
	font-size:30px;
	font-weight: bold;
	color: #f0f8ff;
}
#menu{
	position: absolute;
	top: 0px;
	right: 0px;
	background: transparent;
	cursor: crosshair;
	width:60px;
	height: 70px;
	border: none;
}
ul{
	display: none;
	list-style-type: none;
}
li a{
	text-decoration: none;
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 25px;
	font-weight: bold;
	color: #f0f8ff;
	background: #8fbc8f;
	border-bottom: 1px solid #2f4f4f;
}

li:last-child a{
	border-bottom: none;
}